.header {
    background-image: url(../../images/header-desktop-background.png);
    background-position: center bottom;
    background-color:#182c11;
    height:100vh;
    padding-top: 74px;
    box-sizing: border-box;
}