.call {
    background-color: #182c11;
    background-image: url(../../images/wtbuy_background.png);
    min-height: 1024px;
    width: 100%;
    background-position: center top;
    box-sizing: border-box;
}