@font-face {
    font-display: swap;
    font-family: "Montserrat";
    src: url(montserrat/regular.woff2);
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: "Montserrat-Alternates";
    src: url(montserrat/alternatesbold.woff2);
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    src: url(montserrat/semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    src: url(montserrat/bold.woff2);
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    src: url(montserrat/medium.woff2);
    font-weight: 500;
}
