.page__button {
    background: linear-gradient(180deg,#ffe953,#ffc600);
    border: 0;
    border-radius: 42px;
    box-shadow: 0 30px 60px 0 rgb(255 230 62 / 25%);
    color: #4e3e11;
    font-weight: 700;
    font-size: 18px;
    height: 83px;
    width: 360px;
}