.page__button {
    background: linear-gradient(180deg,#ffe953,#ffc600);
    border: 0;
    border-radius: 42px;
    box-shadow: 0 0 21px 11px rgb(255 244 180 / 35%) inset;
    color: #4e3e11;
    font-weight: 700;
    font-size: 18px;
    height: 83px;
    width: 360px;
}